body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 1100px;
    height: 45px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px 0;
    display: flex;
    justify-content: center;
    z-index: 10;
    box-shadow: none;
    border-radius: 10px;
}

.navbar-container {
    max-width: 1100px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
}

.hero-bottom-background {
    width: 1100px;
    height: 1000px;
    margin: 0 auto;
    background-color: rgba(187, 187, 187, 0.766);
    margin-top: 0px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo {
    height: 75px;
    margin-right: 70px;
    margin-left: -20px;
    border-top-left-radius: 10px;
}

.nav-links {
    display: flex;
}

.nav-right {
    display: flex;
    margin-left: auto;
    margin-right: 40px;
}

.nav-link {
    color: #333;
    text-decoration: none;
    font-weight: lighter;
    margin: 0 15px;
}

.nav-link:hover {
    color: #0077cc;
}

/* Hero Section */
.hero-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero-section {
    height: 600px;
    background-image: url("pexels-pixabay-237211.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 10px;
}

.content-card {
    width: 900px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: -1070px auto 0;
    z-index: 2;
}

.image-section {
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.why-visit-korea {
    background-image: url('pexels-whileopenmind-10635648.jpg');
}

.top-attractions {
    background-image: url('pexels-alexander-bautista-1460490-15775941.jpg');
}

.korean-food {
    background-image: url('pexels-becerragoveaphoto-5773960.jpg');
}

.learn-korean {
    background-image: url('korean-4762343_1280.jpg');
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 1100px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

.footer {
    background-color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    width: 1060px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
